<!DOCTYPE html>
<html>
<head>
	<%- include layouts/head %>
</head>
<body>
	<header>
		<%- include layouts/navbar %>
	</header>
	<main>
		<%- include layouts/table-body %>
	</main>
	<script src="/static/js/postedit.js"></script>
</body>

</html>